:root {
    /* BROWNS */
    --brownLighter:   #E5D089;
    --brownLight:     #BA946C;

    --brown:          #4E3124;
    --brownBorder:    #71563B;

    --brownDark:      #271812;
    --brownDarker:    #271812;


    /* WHITES */
    --white:          #FAFAFA;
}